{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <section class="hero container">
            <div class="content-hero-container">
                <h1 class="title">iPhone 13 Pro</h1>
                <p class="subtitle">Now in Alpine Green.</p>
                <span class="subtext">Available from 18.03</span>
                <div class="btn-hero">
                    <div class="after-arrow">
                        <a href="">learn more</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div class="after-arrow">
                        <a href="">Shop</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="se container">
            <div class="content-hero-container">
                <p class="subtitle r-s">The New</p>
                <h1 class="title">iPhone SE</h1>
                <p class="subtitle">Love the power. Love the price.</p>
                <span class="subtext">Available from 18.03</span>
                <div class="btn-hero">
                    <div class="after-arrow">
                        <a href="">learn more</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div class="after-arrow">
                        <a href="">Pre-order</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="ipad container">
            <div class="content-ipad-container">
                <div class="row-center-total">
                    <h1 class="title white">iPad</h1>
                    <img id="air" src="assets/typo/Ipad_Air.png" alt="typo air">
                </div>
                <p class="subtitle white">Light. Bright. Full of might.</p>
                <span class="subtext">Available from 18.03</span>
                <div class="btn-hero">
                    <div class="after-arrow">
                        <a href="">learn more</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div class="after-arrow">
                        <a href="">Order now</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </section>
        <div class="cards-container">
            <section class="display container width-50">
                <div class="content-container">
                    <div class="row-center-total">
                        <h1 class="title">Studio Display</h1>
                    </div>
                    <p class="subtitle">A sight to be bold.</p>
                    <span class="subtext">Available from 18.03</span>
                    <div class="btn-hero">
                        <div class="after-arrow">
                            <a href="">learn more</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="after-arrow">
                            <a href="">Order now</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mac-studio container width-50">
                <div class="content-container">
                    <div class="row-center-total">
                        <h1 class="title">Mac Studio</h1>
                    </div>
                    <p class="subtitle">Empower Station</p>
                    <span class="subtext">Available from 18.03</span>
                    <div class="btn-hero">
                        <div class="after-arrow">
                            <a href="">learn more</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="after-arrow">
                            <a href="">Order now</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="cards-container">
            <section class="iphone13 container width-50">
                <div class="content-container">
                    <div class="row-center-total">
                        <h1 class="title">iPhone 13</h1>
                    </div>
                    <p class="subtitle">Now in Green.</p>
                    <span class="subtext">Available from 18.03</span>
                    <div class="btn-hero">
                        <div class="after-arrow">
                            <a href="">learn more</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="after-arrow">
                            <a href="">Shop</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </section>
            <section class="watch container width-50">
                <div class="content-container">
                    <div class="row-center-total">
                        <img id="watch" src="assets/typo/apple-watch-series-7-seeklogo.com.svg" alt="logo apple watch serie 7">
                    </div>
                    <p class="subtitle">It's our largest display yet.</p>
                    <span class="subtext">Available from 18.03</span>
                    <div class="btn-hero">
                        <div class="after-arrow">
                            <a href="">learn more</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="after-arrow">
                            <a href="">Buy</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
