:root {
  --border-color-footer : #d2d2d7;
  --color-link-footer : #424245;
  --bg-white : #fff;
  --bg-grey : #f5f5f7;
  --black : #000;
  --blue : #06c;
  --grey : #6e6e73;
  --subtext-color : #86868b;
  --white-color : #f5f5f7;
}