.btn {
  width: fit-content;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.7em 1.2em;
  color: var(--black);
  background-color: var(--bg-grey);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  &:hover{
    transition: ease 0.2s;
    color: var(--white-color);
    background-color: var(--blue);
  }
}