#store {
  background-color: #f5f5f7;
}

.fw-store {
  padding: 1.5em;
  font-weight: 600;
  letter-spacing: 0.007em;
}

.subnav {
  @include flex;
  @include center-total;
  position: sticky;
  background-color: #fff;
  height: 50px;
  h5 {
    font-weight: 600;
  }
}

.select-product {
  overflow: scroll;
  @include row;
  padding: 1em;
}

.item {
  @include column;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  img {
    width: 150px;
    margin-bottom: 15px;
  }
  &:hover {
    transition: ease 0.3s;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.lastest-product, .div-products {
  padding: 1em;
  @include flex-wrap;
  @include center;
  gap: 20px;
  margin-bottom: 10px;
}

.card-product {
  cursor: pointer;
  padding: 2em;
  border-radius: 15px;
  width: 320px;
  @include column;
  background-color: var(--bg-white);
  img {
    padding: 1em;
    margin: 0 auto;
    width: 100%;
  }
  &:hover {
    transition: ease 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .header-card-product {
    @include row;
    justify-content: space-between;
    .after-arrow {
      padding: 0.3em;
      font-size: 12px;
    }
  }
}
.card-details-product {
  padding: 2em;
  width: 80%;
  @include row;
  justify-content: space-between;
  img {
    padding: 1em;
    background-color: var(--bg-white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    height: 450px;
  }
  .header-card-product {
    @include column;
    align-items: center;
    text-align: center;
    padding: 2em;
    margin: 0 auto;
    h3 {
      padding: 1em;
    }
    .product-details {
      gap: 15px;
      @include row;
      @include center;
    }
  }
  .btn-buy {
    @include flex;
    @include center-total;
    margin-top: 50px;
    width: 100px;
    padding: 0.5em 2em;
    cursor: pointer;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--blue);
    i {
      padding: 0.3em 0.5em;
      color: var(--bg-white);
    }
    &:hover {
      transition: ease 0.3s;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}